@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 355 78% 56%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  /* bg #151825 */
  /* stroke: #3D434A */
  /* fill: #1D212E */
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 229 28% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 355 78% 56%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;

    --sidebar-background: 240 5.9% 10%;

    --sidebar-foreground: 240 4.8% 95.9%;

    --sidebar-primary: 224.3 76.3% 48%;

    --sidebar-primary-foreground: 0 0% 100%;

    --sidebar-accent: 240 3.7% 15.9%;

    --sidebar-accent-foreground: 240 4.8% 95.9%;

    --sidebar-border: 240 3.7% 15.9%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

#waveform ::part(region) {
  border: 1px solid #8c20f8;
  background-color: transparent !important;
}

#waveform ::part(region-handle) {
  border: none !important;
}

#waveform ::part(region):hover {
  background-color: rgba(140, 32, 248, 0.25) !important;
}

#waveform ::part(region active) {
  border: 1px solid #20c2f8;
  background-color: rgba(132, 217, 245, 0.25) !important;
}

#waveform ::part(region active):hover {
  background-color: rgba(132, 217, 245, 0.25) !important;
}

#waveform ::part(region-green) {
  background-color: rgba(140, 32, 248, 0.25) !important;
  font-size: 12px;
  text-shadow: 0 0 2px #fff;
}

#waveform ::part(marker) {
  background-color: rgba(0, 0, 100, 0.25) !important;
  border: 1px solid #fff;
  padding: 1px;
  text-indent: 10px;
  font-family: fantasy;
  text-decoration: underline;
}

#waveform ::part(region-content) {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  margin-top: auto;
}

.cl-socialButtons {
  display: none !important;
}

.cl-dividerRow {
  display: none !important;
}

.cl-main {
  gap: 0px !important;
}

.waveform-ng ::part(region) {
  /* border: 1px solid #8c20f8; */
  background-color: transparent !important;
}

.waveform-ng ::part(region-handle) {
  border: none !important;
}

.waveform-ng ::part(region):hover {
  background-color: rgba(140, 32, 248, 0.25) !important;
}

.waveform-ng ::part(region active) {
  border: 1px solid #20c2f8;
  background-color: rgba(132, 217, 245, 0.25) !important;
}

.waveform-ng ::part(region active):hover {
  background-color: rgba(132, 217, 245, 0.25) !important;
}

.waveform-ng ::part(region-green) {
  background-color: rgba(140, 32, 248, 0.25) !important;
  font-size: 12px;
  text-shadow: 0 0 2px #fff;
}

.waveform-ng ::part(marker) {
  background-color: rgba(0, 0, 100, 0.25) !important;
  border: 1px solid #fff;
  padding: 1px;
  text-indent: 10px;
  font-family: fantasy;
  text-decoration: underline;
}

.waveform-ng ::part(region-content) {
  display: flex;
  flex-direction: row;
  height: 90%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  margin-top: auto;
}

.react-resizable {
  position: relative;
}

.react-resizable-handle {
  position: absolute;
  width: 5px;
  height: 40px;
  background-color: #fff;
}

.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -20px;
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
}
.react-resizable-handle-e {
  right: 0;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}
